* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
}

body {
	background-color: #333;
	font: 14px "Century Gothic", Futura, sans-serif;
}

ol,
ul {
	padding-left: 30px;
}

.kbd-navigation .square:focus {
	background: #ddd;
}
