.game {
  min-height: 100vh;
}

.gamePanel {
    margin-left: 2rem;
    padding: 1rem 2rem;
    height: calc(16vh * 3 + 1.2rem * 2);
    width: 25vw;
    background-color: hsla(85, 100%, 100%, 5%);
    box-shadow: inset 0 -10px 25px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;

    .status {
        width: 100%;
        background-color: hsl(0, 0%, 90%);
        margin-bottom: 2rem;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
        line-height: 5rem;
        border-radius: 0.6rem;
    }
}
